@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eeeef0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  font: inherit;
  color: inherit;

  resize: none; /* Убирает возможность изменения размера */
  overflow: hidden; /* Убирает скролл */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  display: inline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.box {
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.header {
  width: 100%;
}

.box {
}
.container {
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
}
.menu__item {
  font-size: 20;
  font-weight: 400;
  margin-right: 55px;
}
.menu__link:hover {
  color: #fc6804;
  transition: all 0.1s ease;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 16px;
  color: #333333;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  height: 35px;
}
.logo__text {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #fc6804;
  margin-left: 5px;
}
.menu__list {
  display: flex;
}

.menu__link {
}
.header__btn {
  font-weight: 500;
  font-size: 20px;
  color: #ff802b;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.header__title {
  font-size: 36px;
  font-weight: 600;
}

.tariff {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}
.tariff__inner {
  display: flex;
  flex-direction: column;
}
.tariff__title {
  font-size: 34px;
}
.tariff__table {
  border-collapse: collapse;
  margin-top: 15px;
}
.tariff__row {
  height: 75px;
}

.tariff__row-big {
  height: 90px;
}
.tariff_col {
  text-align: center;
  border: 1px solid #858181;
  font-size: 22px;
  line-height: 25px;
}

.tariff_col strong {
  font-size: 20px;
}

.small {
  font-size: 14px;
}

.footer {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 10px;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}
.footer__left-col {
  width: 400px;
}
.footer__text {
}
.footer__center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.footer__right-col {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social {
  display: flex;
  gap: 15px;
}
.footer__bottom {
  text-align: center;
  margin-bottom: 10px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.social__img {
  height: 50px;
}

.footer__text.center {
  text-align: center;
}
